layout {
    background-color "transparent"

    focus-ring {
        active-color   "#ffb597"
        inactive-color "#a08d86"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ffb597"
        inactive-color "#a08d86"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#ffb597"
        inactive-color "#a08d86"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ffb59780"
    }
}